<mat-card>
	<mat-card-title>
		<mat-card-header>Click the button below to run your code</mat-card-header>
	</mat-card-title>
	<mat-card-content>
		<div class="editor-container">
			<ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>
		</div>
		<button mat-button mat-raised-button color="accent" (click)="onClick()">Run</button>
		<br />
		<mat-card>
			<mat-card-title>
				<mat-card-header>Code status</mat-card-header>
			</mat-card-title>
			<mat-card-content>
				<span *ngIf="status == 'none'">No data</span>
				<span *ngIf="status == 'running'">Running...</span>
				<span *ngIf="status == 'success'">Typechecking successful!</span>
				<span *ngIf="status == 'failure'">Typechecking failed!</span>
			</mat-card-content>
		</mat-card>
		<mat-card>
			<mat-card-title>
				<mat-card-header>stdout</mat-card-header>
			</mat-card-title>
			<mat-card-content>
				<pre>{{ stdout }}</pre>
			</mat-card-content>
		</mat-card>
		<mat-card>
			<mat-card-title>
				<mat-card-header>stderr</mat-card-header>
			</mat-card-title>
			<mat-card-content>
				<pre>{{ stderr }}</pre>
			</mat-card-content>
		</mat-card>
	</mat-card-content>
</mat-card>
